version: "3.7"

services:
  jmeter:
    image: jmeter:5.3
    build:
      context: ./Dockerfiles/Jmeter/
      dockerfile: Dockerfile
    init: true
    command: 
      - sh
      - -c
      - |
          ./test.sh /
          /bin/sh
    stdin_open: true #for docker run -i
    tty: true # for docker run -t
    volumes:
      - jmeter-result:/opt/data/result
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: ${ROOT_PWD}
      MONGO_INITDB_USERNAME: mongo
      MONGO_INITDB_PASSWORD: ${USER_PWD}
      LANG: zh_TW.UTF-8

volumes:
  jmeter-result:
